@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mirror-horizontal {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.nouislider {
    margin-top: 10px;
    margin-bottom: 20px;
}

.noUi-handle {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.noUi-handle .range-label span {
    font-size: 10px;
}

.modal.bottom-sheet {
    max-height: 85%;
}

.modal .select-dropdown {
    max-height: 500%;
}

.autocomplete-content {
    position: absolute !important;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}
.row {
    margin-left: -.75rem !important;
    margin-right: -.75rem !important;
}

nav .brand-logo {
    padding: 0px 10px !important;
}
